/*Formatação geral*/

@import url('https://fonts.googleapis.com/css?family=Anton');

body{
	
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;   
 }
 /*botao menu*/
 .dropdown-item{
 	font-weight: bolder;
 	color: white;
 	background-color:  #00BFFF;
 }
  .dropdown-item:hover{
 	color: #00BFFF;
 	background-color: white;
 	transition: 1.5s;
 	border-radius: 30px;
 }
 .dropdown-menu{
 	background-color:  #00BFFF;
 }


 .card-link{
		color: white;
		
		border-radius:40px;
		padding-left: 10px;
		padding-right: 4px;
	
	}
	.card-link:hover{
		color: white;

	}

 /* Menu social */
 .menu_social{
 	display: block;
 	position: fixed;
 	float: right;
 	right: 0px;

 	z-index: 300;
 }
 .menu_social i{
 	position: relative;
 	display: inline-block;
 	border-radius: 20px;
 	padding: 0px;
 }
 .menu_social i:hover{
 	font-size:45pt;
 	transition: 0.5s; 
 }

 .fa-facebook-square{
 	color:blue;
 }
 .fa-twitter-square{
	color:#01FFFF; 
}
.fa-linkedin-square{
	color:#01FFFF; 
}
.fa-youtube-square{
	color: red;
}
 /*---------------------------------*/
 #btblue{
    width: 100%;
    padding: 4px;
    color: white; 

    border:0px; 
    background-color: #00BFFF; 
    font-weight: bolder;
}
#btblue:hover{
    transition: 1s;
    width: 100%;
    padding-left: 6px;
    padding-right: 6px; 
    color: #00BFFF;
    background-color:white;   
    border-radius: 20px;
}
.img-header{
	margin-right: 20px;
	width: auto;
}

nav{
	background-color: #00BFFF;
	border-bottom:1px solid white;
	color: white;
	padding: 0px;
	margin:0px;
}
nav li{
	color: white;
	font-weight: bolder;
	margin:0px;
	padding: 0px;
}
a{
	text-decoration: none;
	color: white;
}

		.c1{
			background-color: #00BFFF;
			opacity: 1;
		}
		.c2{
			background-color:#045FB4;
			opacity: 1	;
		}
		.c1:hover{
			background-color: #00BFFF;
			opacity: 1;
			padding: 10px;
		}
		.c2:hover{
			background-color:#045FB4;
			opacity: 1;
			padding: 10px;
		}

	
	/*pagina inicial conteudo inicial*/
	.decora{
		text-shadow: 1px 1px black;
		color: black;
	}
	#titulo{
		
		
		font-size: 40pt;
		font-family: 'Anton', sans-serif;
		background-color: #00BFFF;
	}

	#meio{
		margin-top: 20%; 
		bottom: 30px;
		color:white;
		text-shadow: 1px 1px black;
		text-align: center;
		
		
	}
	.ul_lista{
		list-style-type:none;
		margin: 0px;
		padding: 0px;
		
	}

	.ul_lista li{ 
		margin: 0px;
		display: block;
		float: left;
		height: 200px;
		padding: 0px;
		background-size: 100%;
 
	}
	.ul_lista li:hover{ 
		background-size: 140%;
		transition: 0.5s;
	}
	.ul_lista li div{ 
		background-color:#00BFFF;
		opacity: 0;
		width: 100%;
		margin: 0px;
		height: 100%;

	}

	.ul_lista li div:hover{ 	
		opacity: 0.7;
		transition: 0.2s;

	}
	#meio span{
		color: #00BFFF;
		position: relative;	 
	}
	#meio span:hover{
		color: white;
		transition: 1;
	}
	#meio #prev{
		display: block;
		float:left;
		margin-top:-150px;
		left:-50px;

	}
	#meio #next{
		display: block;
		float: right;
		margin-top:-150px;
		right:-50px;
	}
	


/*Fim formatação Geral*/


	@media screen and (min-device-width: 768px) {


		
	.nav-link{
			color: #ffffff;	
	}
	.nav-item{
		color: #ffffff;
		font-weight: bolder;
		margin:0px;
		padding: 0px;
	}
	.nav-link:hover{	
		color: #00BFFF;
		transition: 1.5s;
		padding-left:15px;
		padding-right: 15px;
		background-color: white;
		border-radius:40px; 
	}

	.link:hover{
		color: #00BFFF;
		transition: 1.5s;
		background-color: rgb(255,255,255);
		border-radius:40px;
		padding-left: 10px;
		padding-right: 4px;
	
	}
	.link{
		text-decoration: none;
		color: white;
		background-color: #00BFFF;
		border-radius:20px; 

	}

	
	.img-centralizada{
		width: 100%;
	}
	.estilo-botao{
		display: none;
		color:white;
		
	}
	.estilo-botao img{
		width: 20px;
	}
	
	.d-none a{
			text-decoration: none;
	}
	#outro{
		border-radius: 30px;
	}

	/*.conteudo-carosel:hover .conteudohome{

		transition: 1s;
		background-color:rgba(70,130,180,1) ;
		background-color: white;
		color:rgba(70,130,180,1);
		padding:10px;
		border-radius: 40px;

	}*/
	#A_Migratio{
		font-size: 30pt;
		color:#00BFFF;
		border-top:2px solid #00BFFF; 
			border-left:2px solid #00BFFF;
			padding-top: 20px;
		margin-top: 0px;

	}
	#A_Empresa{
		padding-top: 20px;
		margin-top: 0px;
	}

	.rowcard{
		padding-top: 20px;
		margin-top: 0px;
		border-top:2px solid #00BFFF;
		border-left:2px solid #00BFFF;
	}


	.Empresa{

	}
	.jumbotron{
		color:white;
	}

	/*cards*/
	

	}

	@media screen and (max-device-width: 768px) {

	/*display: block;*/
	.img-centralizada{
		width: 100%;
		height: auto;
	}
	
	.meio{
		top: 15%;
		position: absolute absolute;
		height: auto;
		z-index: 200;
	}

	.conteudohome{
		background-color: rgba(70,130,180,0.5);
		margin:10px;


	}
	.meio:hover .conteudohome{

	}
	.conteudo-carosel:hover .conteudohome{

	}

	#carrosel{
		top: 100px;
	}
	.fora-mobile{
		display: none;
	}
	.img-header{
		width:40%; height: auto;margin:0px;
	}
	.link-header{
		width: 75%;
	}
	.nav-item{
		float: left;
	}
	.dropdown-item{
		font-size: 20pt;
	}

	}

